@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin: 0 5%;
    gap: 5%;

    .profile {
        position: sticky;
        left: 5%;
        top: 0;
        width: 25%;
        height: 100vh;
        padding: 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        /* animation: slide-in 3s forwards; */



        .upper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 3px;
            font-family: "Poppins", sans-serif;


            gap: 5px;


            span {
                color: #4ed63c;
            }

            span::after {
                content: "|";
            }
        }

        .middle {

            display: flex;
            justify-content: space-between;

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 35px;

                &:hover {
                    color: #4ed63c;
                }
            }
        }

        .lower {
            display: flex;
            justify-content: space-between;
            font-size: smaller;
            color: grey;

            div {
                width: 1px;
                height: 100% !important;
                background-color: rgba(255, 255, 255, 0.541);
            }

            a {
                color: grey;
                text-decoration: none;

            }

            a:hover {
                cursor: pointer;
                color: #4ed63c;
            }
        }

    }

    .content {
        width: 100%;
        margin: 5% 0;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.952);

        .title {
            font-family: "Oswald", sans-serif;
            padding-bottom: 1%;
        }

        .title::after {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            position: relative;
            bottom: 0;
            left: 0;
            background-color: #4ed63c;

        }

        .aboutme {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 5%;


            p {
                text-align: justify;
                font-family: system-ui;
                font-size: 16.72px;
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                h3 {
                    width: 50%;
                    padding-bottom: 2%;
                    color: #4ed63c;

                    font-family: "Oswald", sans-serif;
                    font-weight: 400;

                    span {
                        color: rgb(255, 255, 255);
                        font-family: system-ui;
                    }

                }

            }
        }

        .skills {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 5%;

            font-family: system-ui;

            .skill-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .skill-percentge {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    padding: 2%;
                    gap: 5px;

                    .skill {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 1%;
                    }

                    .progress {
                        background-color: #a2eb9877;
                        height: 4px;
                        width: 100%;



                        #html {
                            height: 4px;
                            width: 95%;
                            background-color: #4ed63c;
                        }

                        #css {
                            height: 4px;
                            width: 90%;
                            background-color: #4ed63c;
                        }

                        #js {
                            height: 4px;
                            width: 90%;
                            background-color: #4ed63c;
                        }

                        #tail {
                            height: 4px;
                            width: 95%;
                            background-color: #4ed63c;
                        }

                        #react {
                            height: 4px;
                            width: 90%;
                            background-color: #4ed63c;
                        }

                        #python {
                            height: 4px;
                            width: 85%;
                            background-color: #4ed63c;
                        }
                    }
                }
            }
        }

        .projects {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 5%;

            font-family: system-ui;

            .projects-list {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .project {
                    position: relative;
                    width: 48%;
                    height: 200px;
                    margin-bottom: 30px;


                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .desc {
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.89);
                        border: 2px solid rgba(0, 0, 0, 0.308);
                        color: white;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        a {
                            text-decoration: none;
                            font-size: 28px;
                            background-color: #4ed63c;
                            border: 2px solid #4ed63c;
                            color: white;
                            font-weight: bolder;
                            border-radius: 10px;
                            padding: 0 5px;

                            &:hover {
                                cursor: pointer;
                                background-color: #1a910a;
                            }
                        }

                        &:hover {
                            opacity: 1;
                            transition: 1s;
                        }
                    }
                }
            }

        }

        .contact {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            padding: 5%;
            font-family: system-ui;

            .container {
                display: flex;
                flex-direction: column;
                gap: 10px;

                div {
                    display: flex;
                    width: 100%;
                    gap: 10px;

                    input {
                        width: 50%;
                        padding: 18px;
                    }
                }

                input {
                    width: 100%;
                    padding: 18px;

                    &::placeholder {
                        font-size: 16px;
                    }
                }

                textarea {
                    padding: 20px;
                    height: 150px;
                }
            }

            button {
                background-color: #4ed63c;
                font-size: 17px;
                color: white;
                width: 150px;
                padding: 15px;
                border: none;

                &:hover {
                    cursor: pointer;
                    background-color: #1a910a;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 3%;
            background-color: #4ed63c;
            color: #000000;
            /* border-top: 2px solid grey; */
            font-family: system-ui;
            gap: 10px;

        }
    }
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 600px) {
    body {
        display: block;
        margin: 0;

        .profile {
            width: 100%;
            height: auto;
            position: relative;
            left: 0;
            float: left;
            padding: 30px;
            font-size: 0.9rem;
            gap: 30px;

            .upper {
                width: 100%;
                text-align: center;

                h2,
                h1,
                h3 {
                    text-align: start;
                }

                img {
                    height: auto;
                    width: 100%;
                }
            }

            .middle {
                justify-content: space-between;
            }

            .lower {
font-size: medium;
                div {
                    height: 18px !important;
                }
            }
        }

        .content {
            margin: 0;

            .aboutme {
                .info {
                    flex-direction: column;

                    h3 {
                        width: 100%;
                    }
                }
            }

            .skills {
                .skill-list {
                    flex-direction: column;

                    .skill-percentge {
                        width: 100%;
                    }
                }
            }

            .projects {
                .projects-list {
                    flex-direction: column;

                    .project {
                        width: 100%;
                        height: 200px;
                    }
                }
            }

            .contact {
                .container {
                    input {
                        width: 100%;
                        padding: 12px;
                    }

                    textarea {
                        padding: 12px;
                        height: 120px;
                    }

                    div {
                        flex-direction: column;

                        input {
                            width: 100%;
                            padding: 12px;
                        }
                    }

                    button {
                        padding: 12px;
                    }
                }
            }
        }

    }
}

/* 
@keyframes slide-in {
    o%{
        left:-100%;
    }
    100%{
        left:20%;
        transform:translateX(-20%);
    }
} */